* { outline: 1px solid #f00; } 

.Wrap { color: #222222; }

.container { width: 1170px; margin: 0 auto; }

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

/* header 시작 ---> */
.hd-top .container { display: flex; justify-content: space-between; line-height: 120px; }

.hd-top .container a { font-size: 14px; }

.hd-top .top-left { display: flex; }

.hd-top .top-left li:first-child::after {content: ""; display: inline-block; width: 1px; height: 12px; background-color: #E8E8E8; margin: 0 12px; }


.hd-top .top-right { display: flex; }
.hd-top .top-right li::after { content: ""; display: inline-block; width: 1px; height: 12px; background-color: #E8E8E8; margin: 0 12px; }
.hd-top .top-right li:last-child:after { content: ""; display: none; }

.hd-bt { border-top:1px solid #E8E8E8; border-bottom: 1px solid #E8E8E8; }

.hd-bt .container { line-height: 60px; }

.hd-bt .gnb ul { display: flex; justify-content: space-between; }
.hd-bt .gnb li { border-left: 1px solid #E8E8E8; }
.hd-bt .gnb li:last-child {border-right: 1px solid #E8E8E8; color: #F8981C; }
.hd-bt .gnb a { font-size: 18px; font-weight: 500; padding: 0 63px; }


/* main-slider 시작 ---> */

.main-visual-slider .visual-01 { background: url(../img/visual-01.jpg) no-repeat; width: 100%; height: 70vh; position: relative; }
.main-visual-slider .visual-01 img { position: absolute; top: 5%; left: 24%; }

.main-visual-slider .visual-02 { background: url(../img/visual-03.jpg) no-repeat; width: 100%; height: 70vh; position: relative; }
.main-visual-slider .visual-02 img { position: absolute; top: 5%; left: 24%; }

/* first-time 시작 ---> */
.first-time { padding: 62px 0; color: #222;}
.first-time .container { display: flex; justify-content: space-between; }

.f-left-box h2 { font-size: 36px; font-weight: 700; line-height: 52px; margin-bottom: 18px; letter-spacing: -1.2px; }
.f-left-box p { font-weight: 400; font-size: 18px; color: rgba(136, 136, 136, 1); line-height: 26px; letter-spacing: -1.2px; }

.f-right-box { display: flex; gap: 106px; }
.f-right-box img { display: block; margin: 0 0 20px; }
.f-right-box strong { display: block; font-weight: 700; font-size: 20px; margin: 0 0 20px; text-align: center; letter-spacing: -1.2px; }
.f-right-box button { display: block; font-weight: 400; font-size: 14px; border: 1px solid rgba(232, 232, 232, 1); background-color: #fff; width: 80px; height: 30px; margin: 0 auto; }

/* notice 시작 ---> */
.notice {position: relative; background-color: #F8981C; width: 100%; height: 120px; color: #fff; font-size: 22px; font-weight: 400; line-height: 120px; }


.notice .container .item { display: flex; }
.notice .container .item strong>a { border: 1px solid #fff; border-radius: px;}

.notice-indicaotr {position: absolute; top: 0; left: 0; cursor: ;}


/* kid-video 시작 ---> */
.kid-video {background: url(../img/contents_06_bg.gif) no-repeat; width: 100%; height: 100vh; }

/* experience 시작 ---> */
.experience { background-color: #F5F4FA; padding: 150px 0;}

.experience h2 { font-size: 40px; color: #C60751; font-weight: 700; margin-bottom: 35px; letter-spacing: -2px; }


.select-box { display: flex; margin-bottom: 80px; }
.select-box .search-out {width: 42px; height: 42px; border: none; background-color: #F8981C;}

.card-slider { display: flex; justify-content: space-between; }

.aplication { padding: 150px 0; }
.aplication .form { width: 585px; height: 353px; }
.aplication .container { display: flex; }

.form { padding: 30px 70px; }

.form-top h3 { font-size: 24px; font-weight: 700; margin-bottom: 22px; line-height: 35px;}
.form-top strong { font-size: 18px; color: #888; font-weight: 700; line-height: 30px; }

.form-bt { display: flex; justify-content: space-between; }
.form-bt strong { display: block; }
.form-bt button { font-size: 20px; color: #fff; background-color: #F8981C; border: none; padding: 14px 7px; }
.form-bt button img { width: 25px; height: 25px; }


.call span { font-size: 14px; color: #333; font-weight: 500; }
.call strong { font-size: 30px; color: rgba(248, 152, 28, 1); font-weight:700; }
