 /* * {
    outline: 1px solid #f00;
}       */

.Wrap {}

/* header 시작 ---> */
#header {
    position: relative;
}

#header .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 120px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 280px;
    transition: 0.5s;
    z-index: 999;
}

#header .container:hover {
    background-color: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#header .container a {
    color: #fff;
}

#header .container:hover nav>ul>li>a {
    color: #000;
}


#header .container nav>ul {
    display: flex;
}

#header .container nav>ul>li>a {
    padding: 0 50px;
}

#header .container span {
    background-color: #FE6B00;
    padding: 10px 20px;
    border-radius: 300px;
   font-size: 16px;
}


#header .list-item {
display: none;
padding-bottom: 30px;
}

#header .list-item a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
}

#header .container:hover .list-item {
    display: block;
}

#header .container:hover .list-item a {
    color: #000;
}
 
.main_slider .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    border: none;
    background: transparent;

    width: 100px;
    height: 100px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;

}

.main_slider .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_slider .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}


/* menu 시작 ---> */
.menu {
    padding: 150px 350px;
}

.menu .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.menu .content p {
    font-size: 40px;
    font-weight: 700;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul>li>a {
    font-size: 14px;
    padding: 0 20px;
}

.menu ul>li~li {
    border-left: 1px solid #ddd;
}

.menu_slider figure {
    position: relative;
    text-align: center;
    padding: 0 10px;
}

.menu_slider figure img {
    display: block;
    margin-bottom: 30px;
}

.menu_slider .new-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.menu_slider .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    border: none;
    background: transparent;

    width: 100px;
    height: 100px;
    border-top: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
}

.menu_slider .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu_slider .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}

.menu_slider strong {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.menu_slider span {
    font-size: 14px;
}

/* taste 시작 ---> */
.taste {
    text-align: center;
    padding: 0 350px;
}

.taste-title {
    margin-bottom: 20px;
}

.taste-title img {
    width: auto;
    height: 60px;
}

.taste p {
    margin-bottom: 80px;
    font-size: 14px;
}

.taste .box {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.taste .box figure {
    position: relative;
}

.taste .box figure img {
    transition: all 0.2s linear;
}

.taste .box figure:hover img {
    transform: scale(1.13);
}

.taste .box figure video {
    transition: all 0.2s linear;
}

.taste .box figure:hover video {
    transform: scale(1.13);
}

.taste .box figure span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 40px;
    transition: 0.2s;
    opacity: 0;
}

.taste .box figure:hover span {
    opacity: 1;
}

/* notice 시작 ---> */
.notice {
    padding: 200px 280px;
}



/* follow 시작 ---> */
.follow {
    padding: 100px 350px;
    justify-content: center;
    text-align: center;
}

.follow h2 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.follow h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translate(-52%, -50%);
    border: 6px solid #FE6B00;
    width: 293px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -1;
}

.follow span {
    display: block;
    margin-bottom: 80px;
    color: #666;
}

.follow-slider {
    display: flex;
    justify-content: space-between;
}

.follow-slider figure {
    padding: 0 15px;
}

.follow-slider img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.follow-slider .slick-arrow {
    font-size: 0;
    border: none;
    background: transparent;
}   

/* pizza 시작 ---> */
.pizza {
    background: url(../img/first-bg\ 1.jpg) no-repeat center center/cover;
    height: 970px;
}




