#header {
    width: 1900px;
    height: 940px;
    text-align: center;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#header .header {
    line-height: 100px;
    display: flex;
    padding: 0 180px;
    justify-content: space-between;
}

#header .header nav>ul {
    display: flex;
}

#header .header nav>ul>li>a {
    padding: 0 50px;
    font-size: 20px;
}

#header .icon {
    font-size: 30px;
}

#header .icon a {
    padding: 0 20px;
}



















