body {
    background: #333;
}

.sinbal {
    padding: 100px 0;
}

.sinbal> .case {
    position: relative;
    width: 809px;
    height: 450px;
 /* 보통은 높이를 자동으로 나두지만 이런 경우에는 예외 */
    margin: 0 auto;
    overflow: hidden;
}

.sinbal .case ul {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    transition-timing-function: cubic-bezier(.45,-1.25,1,1.39);
}

.num {
    display: flex;
        justify-content: center;
    gap: 40px;
    color: #fff;
    font-size: 30px;
}

.smile .on {
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
height: 500px;
background-color: #fff;
border-radius: 50%;
}

.smile .on li {
    position: absolute;
    width: 50px;
    height: 50px;
    border-left: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    transform: rotate(45deg);
}

.smile .on li:nth-child(1) {
    top:100px;
    left: 100px;
}
.smile .on li:nth-child(2) {
    top:100px;
    left: 100px;
}
.smile .on li:nth-child(3) {
    top:100px;
    left: 225px;
}
