// * {
//     outline: 1px solid #d82f36;
// }

body {
    background-color: #000000;
    overflow-x: hidden;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.section {
    width: 100%;
    height: 100vh;
}

.swiper {
    overflow: visible;
}


//Header ---> 
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 99;
    background-color: #000000;

    .hd-top {
        line-height: 40px;
        border-bottom: 1px solid #101010;
        font-size: 12px;
        color: rgba(168, 168, 168, 0.9);
        transition: 0.5s all;
        font-family: 'roboto', sans-serif;
        letter-spacing: 0.02em;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-box {
                display: flex;
                gap: 20px;

                .biff {
                    background-color: #d82f36;

                    a {
                        padding: 0 20px;
                        color: #fff;
                    }
                }
            }

            .right-box {
                display: flex;
                gap: 10px;
            }
        }
    }

    .hd-bt {
        .container {
            display: flex;
            justify-content: space-between;
            font-size: 17px;
            line-height: 100px;

            .gnb {
                ul {
                    display: flex;

                    li {
                        transition: 0.3s;

                        &:hover {
                            scale: 0.99;
                            opacity: 0.9;
                        }

                        a {
                            padding: 0 20px;
                            text-align: right;
                        }

                        &:last-child {
                            a {
                                padding: 0 0 0 20px;
                                text-align: right;
                            }
                        }
                    }


                }
            }
        }
    }
}

//Header.on ---> 
.Header.on {
    .hd-top {
        line-height: 0vh;

        .container {
            opacity: 0;
        }
    }

    .hd-bt {
        border-bottom: 1px solid rgb(221, 221, 221, 0.1);
    }
}

// MainVisual --->
.MainVisual {
    .main-swiper {
        width: 100%;
        height: 100vh;

        .swiper-slide {
            position: relative;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            .inner-text {
                position: absolute;
                top: 35%;
                left: 15%;

                span {
                    display: block;
                    font-size: 27px;
                    color: #fff;
                    line-height: 1.8;
                    font-weight: 500;
                  }

                  strong {
                    display: block;
                    font-size: 60px;
                    color: #fff;
                    line-height: 1.6;
                    font-weight: bold;
                    margin-bottom: 20px;
                  }

                  button {
                    color: #fff;
                    border: 1.5px solid #fff;
                    border-radius: 50%;
                    padding: 30px 20px;
                    transition: 0.3s;

                    &:hover {
                        background-color: #d82f36;
                        border: 1.5px solid #d82f36;
                    }

                    &:active {
                        scale: 0.9;
                    }
                  }

                }
        }
    }

}

// archive --->
.archive {
    background: url(../../public/images/bg.png) no-repeat center center/cover;
    position: relative;
    color: #fff;
    text-align: center;
    padding-bottom: 120px;

    h2 {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 17px;
        font-family: 'roboto', sans-serif;

        font-weight: 500;
        margin-bottom: 80px;
    }

    .archive-swiper {
        width: 1170px;
        margin: 0 auto;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 285px;
        height: 404px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            margin-bottom: 15px;
        }
    }
}

// Program --->
.program {
    background: url(../../public/images/bg.png) no-repeat center center/cover;
    position: relative;
    color: #fff;
    padding: 120px 0;

    .container {
        display: flex;
        gap: 10px;

        h2 {
            font-size: 34px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            margin-bottom: 50px;
        }

        span {
            a {
                font-size: 12px;
                color: #d82f36;
                font-family: 'Oswald', sans-serif;
                letter-spacing: 5px;
            }
        }
    }

    .program-swiper {
        margin-left: -836px;
        height: 453.59px;
        overflow: visible;
 
        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }

        .textbox {
            display: flex;
            flex-direction: column;
            background-color: #222;
            justify-content: space-between;
            padding: 25px 30px;

            .tit {
                font-size: 1.5rem;
                color: #d82f36;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .title {
                font-size: 2.6rem;
                margin-bottom: 14px;
            }

            .director {
                font-size: 1.6rem;
                // opacity: 0.5;
                color: #aaa;
            }
        }
    }
}

//Footer ---> 
.Footer {
    color: white;
}