.grid {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
}

// page01 ---> 
.page01 {
    background-color: #fff;

    h1 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 70px;
        text-align: center;
    }

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 200px 0;

        figure {
            margin-bottom: 100px;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                margin-bottom: 30px;
            }

            h4 {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            p {
                font-size: 17px;
                line-height: 27px;
                font-weight: 400;
            }
        }
    }
}

// page02 ---> 
.page02 {
    background-color: #fff;

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 200px 0;

        .sec-title {
            position: relative;
            text-align: center;

            span {
                display: block;
                margin-bottom: 10px;
                letter-spacing: 0.04rem;
            }

            h1 {
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 70px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 26%;
                    top: 0;
                    display: inline-block;
                    width: 37.23px;
                    height: 80px;
                    background: url(../../public/images/awards_title_bg1.png) no-repeat center center/cover;
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    right: 26%;
                    top: 0;
                    display: inline-block;
                    width: 37.23px;
                    height: 80px;
                    background: url(../../public/images/awards_title_bg2.png) no-repeat center center/cover;
                    
                }
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 100px;

            li {
                a {
                    position: relative;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: 600;
                } 
            }
        }
    }

    .detail {
        .tit {
            position: relative;
            font-size: 18px;
            text-align: center;
            line-height: 2.8rem;
            margin: -50px 0 100px;
        }
        .inner {
            display: flex;
            padding: 30px;
    
            img {
                object-fit: cover;
            }
    
            .textbox {
                display: flex;
                flex-direction: column;
                padding: 10px 30px 0;
    
                .name {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
    
                .detail {
                    font-size: 17px;
                    font-weight: 500;
                    margin-bottom: 40px;
                }
    
                p {
                    font-size: 17px;
                    line-height: 2.7rem;
                    font-weight: 400;
                }
            }
        }
    }
}


// page03 ---> 
.page03 {
    background-color: #fff;
    text-align: center;

    h1 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .content {
        padding: 200px 0;
        
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 100px;

            li {
                a {
                    position: relative;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: 600;
                }

                
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;

        img {
            display: block;
            width: 100%;
            height: 80%;
            object-fit: cover;
        }

        .textbox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            padding: 20px 30px;
            border: 1px solid #ddd;

            .tit {
                font-size: 14px;
                color: #d82f36;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .director {
                font-size: 14px;
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
 
}

// page04 ---> 
.page04 {
    background-color: #fff;

    h1 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 70px;
        text-align: center;
    }

    .container {
        width: 1170px;
        margin: 0 auto;
        padding: 200px 0;

        .content {
            display: flex;
            white-space: pre-wrap;

            .poster {
                width: 50%;

                img {
                    display: block;
                    width: 70%;
                    margin: 0 auto;
                }
            }

            .textbox {
                width: 50%;
                padding: 30px;

                h4 {
                    position: relative;
                    font-size: 40px;
                    font-weight: 700;
                    color: #222;
                    margin-bottom: 30px;
                    padding-bottom: 40px;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 40px;
                        height: 3px;
                        background-color: #d82f36;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 2.7rem;
                }
            }
        }
    }
}