* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-color: rgb(171, 171, 171);
  }
  
  h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #273444;
  }
  
  /* ▼ WHERE YOUR CODE BEGINS */

  .user-card {
    position: relative;
      display: flex;
      max-width: 240px;
      height: 56px;
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid #ddd;
  }
  .user-photo {
      padding: 8px 12px;
  }

  .user-photo img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }

  .user-status {
      position: absolute;
      top: 37px;
      left: 42px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: #21D891;
  }

  .user-name {
      padding: 16px 0;
  }
  