body {
    background-color: #000;
}

.garden {
    background: url(../img/background.png) no-repeat center center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1170px;
    height: 600px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}